[build]
  base = "frontend"
  command = "npm install && npm run build"
  publish = "dist/trivia-frontend"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "20"
